.contactoContainer{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 
	"header"
	"infoContacto"
	"form"
	"footer";
}	

header{
	grid-area: header;
}

#form{
	grid-area: form;
	width:350px;
	padding:16px;
	border-radius:10px;
	margin: 1rem;
	background-color: grey;
	text-align: left;
	font-size: 16px;
	font-family: $tipografiaTitulo;
}

form label{
	width: 100%;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:100%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}
$estilos: (
	fondotitulo: silver,
	alineacion: center,
	tipofuente: $tipografiaTitulo,
    tamañofuente: 25px
	);
.tituloContacto{
	background-color: map-get($estilos, fondotitulo);
	text-align: map-get($estilos, alineacion);
	font-family: map-get($estilos, $tipografiaTitulo);
	font-size: map-get($estilos, tamañofuente);
}
.infoContacto{
	grid-area: infoContacto;
	color: white;
	background-color: black;
	font-size: 20px;
	text-align: left;
	font-family: $tipografiaTitulo;
	padding-left: 1rem;
}

footer{
	grid-area: footer;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {

.infoContacto{
	font-size: 1rem;

}
#form{
	width: 350px;
	height: auto;
}					
}

