.imgVereda{
	width: 100%;
	height: 800px;
	margin: 0 auto;
	float: right;
	display: inline;
}

.textNosotros{
	font-family: $tipografiaTitulo;
	font-size: 20px;
	text-align: justify;
}
.titulosNosotros{

	text-align: center;
	font-family: $tipografiaTitulo;
	font-size: 25px;
	background-color: silver;
	width: 100%;
}